{% extends 'base.html' %}


{% block title %}
    {{ super()}}
    Main
{%endblock%}


{% block content %}
    <h1>GaN Activity Guides</h1>
    <h1>Generator</h1>

    <div class="center-block">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-lg">Campaign Dates</button>
            <button type="button" class="btn btn-default btn-lg">Modify base documents</button>
            <button type="button" class="btn btn-default btn-lg ">Consult pdf files</button>
            <button type="button" class="btn btn-default btn-lg ">Generate Activity Guides</button>
        </div>
    </div>
    
{% endblock %}

