{% macro render_north_constellations(constellation) %}
    <li>{{constellation}}</li>
{% endmacro %}

{% macro render_north_languages(language) %}
    <li>{{language}}</li>
{% endmacro %}

{% macro render_latitudes_north(lat) %}
    <li>{{lat}}</li>
{% endmacro %}

{% macro render_south_constellations(constellation) %}
    <li>{{constellation}}</li>
{% endmacro %}

{% macro render_south_languages(language) %}
    <li>{{language}}</li>
{% endmacro %}

{% macro render_latitudes_south(lat) %}
    <li>{{lat}}</li>
{% endmacro %}